absl-py==1.4.0
anytree==2.9.0
astor==0.8.1
astroid==2.15.6
autopep8==2.0.4
black==23.3.0
build==1.0.3
cachetools==4.2.4
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.2.0
click==8.1.7
colorama==0.3.9
coverage==7.2.7
dill==0.3.7
docopt==0.6.2
filelock==3.12.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.57.0
huggingface-hub==0.0.8
idna==3.4
importlib-metadata==6.7.0
inexactsearch==1.0.2
install==1.3.5
isort==5.11.5
joblib==1.3.2
lazy-object-proxy==1.9.0
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mypy==1.4.1
mypy-extensions==1.0.0
nltk==3.8.1
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
oauthlib==3.2.2
OpenHowNet==2.0
packaging==23.1
pathspec==0.11.2
Pillow==9.3.0
pip-tools==6.14.0
platformdirs==3.10.0
protobuf==3.20.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pyenchant==3.2.2
pylint==2.17.5
pyproject_hooks==1.0.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
sentencepiece==0.1.99
silpa-common==0.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
soundex==1.1.3
spellchecker==0.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tokenize-rt==5.0.0
tokenizers==0.10.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.66.1
transformers==4.6.1
tree-sitter==0.2.2
typed-ast==1.5.5
typing_extensions==4.7.1
urllib3==2.0.4
vulture==2.9.1
Werkzeug==2.2.3
wordnet==0.0.1b2
wrapt==1.15.0
yarg==0.1.9
zipp==3.15.0
